.FistItem {
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#FFFFFF;
    margin-top:30PX;    
    width:287px;
    height:56px;
    border-radius: 25px;
    box-shadow: 0px 3px 6px #cac2c2;
    }
    .NewItem{
     border:0px solid #FFFFFF; 
     margin: 7px 8PX;   
     width:217px;
     height:40px;
     border-radius: 30px;
     box-shadow: 0px 2px 6px #dddddd;
     outline:none;
    }
    .NewItem:HOVER{
        background-color:#d3b6f092;
    
    }
    .NewItem:focus{
        background-color:#FBFBFB;
        border:1px solid #7494FF;

    }
    
    button{
        border-radius:50%;
        border:#707070;
        margin:  13px 2PX;
        width:30px;
        height:32PX;
        color:#FBFBFB;
        font-size:20px;
        background-color:#7494FF;
    }
    button:hover{
        box-shadow: 2px 4px 8px #cac2c2;
    }
    .Undo{

        width:287px;
        height:241px;
        border-radius:25px;
        box-shadow: 0px 3px 6px #cac2c2;
        overflow: auto;
        margin-top:20px;
        align-items:center;
      
    }
      .Output {
        background-color:#FFFFFF; 
        padding-top:10px;  
        align-self:center;
        margin: 10px auto;   
        width:217px;
        height:40px;
        border-radius: 30px;
        box-shadow: 0px 2px 6px #dddddd;
        outline:none;
        overflow:hidden;
    }  
    
::-webkit-scrollbar {
    width: 7px;   
}

::-webkit-scrollbar-thumb {
  background-color:lightgrey;
  border-radius:20px; 
  
} 
